{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row">
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top"
                 src="{{ object.image_preview|mymedia }}"
                 alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Товар: {{object.name}}</p>
                <p class="card-text">{{object.description}}</p>
                <p class="card-text">Цена: {{ object.purchase_price|floatformat:"0" }} руб.</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}